finsight_workflow.html
data/raw/*
.DS_Store
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
.env

# Environment
.env
.venv/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/
.virtual_documents/

# Python
__pycache__/
*.py[cod]

# R
.Rhistory
finsight_roadmap_updated.html
